<div class="p-4">
  {{!-- {{#let (get-code-snippet "demo.hbs") as |snippet|}}
    <pre class='text-xs {{snippet.language}}'>{{snippet.source}}</pre>
  {{/let}} --}}
  {{#let (get-code-snippet (concat @exerciseSlug ".js")) as |snippet|}}
    <CodeBlock @language={{snippet.language}}>
      {{snippet.source}}
    </CodeBlock>
  {{/let}}
</div>