<div class="flex flex-col h-full">
  <div class='p-4 text-sm'>
    {{!-- <button type='button' class="inline-block px-3 py-2 ml-4 text-sm font-medium leading-5 text-gray-800 bg-gray-200 rounded-md focus:outline-none focus:bg-gray-300">
      JSON
    </button> --}}
    <Tabs as |t|>
      <t.Tab>JSON</t.Tab>
      <t.Tab>Headers</t.Tab>

      <t.Panel>
        Panel 1
        {{!-- <div class="flex-1 p-4 overflow-y-scroll">
          <pre class='mt-4 text-sm'>
            {{~this.json}}
          </pre>
        </div> --}}
      </t.Panel>

      <t.Panel>
        Panel 2
        {{!-- <div class="flex-1 p-4 overflow-y-scroll">
          <pre class='mt-4 text-sm'>
            {{~this.headers}}
          </pre>
        </div> --}}
      </t.Panel>
    </Tabs>
  </div>
</div>