<div class="flex flex-col w-1/2">
  <div class="flex flex-col px-4 py-4 h-28">
    <h2>
      <Svgs::Mirage class="text-gray-900 h-7" />
    </h2>
    <div class="mt-auto text-sm">
      Database
    </div>
  </div>
  <Inspector::Database @server={{@server}} />
</div>
<div class="flex flex-col w-1/2 border-l-4 border-gray-200">
  <div class="flex flex-col border-b h-1/2">
    <div class="flex flex-col px-4 py-4 h-28">
      <h2 class="font-semibold tracking-wide text-gray-700 uppercase">
        Client
      </h2>
      <div class="mt-auto text-sm">
        Request
      </div>
    </div>
    <Inspector::Request @server={{@server}} />
  </div>
  <div class="bg-gray-100 h-1/2">
    <Inspector::Response @server={{@server}} />
  </div>
</div>