<div
  class="flex h-screen overflow-hidden antialiased"
  x-data="{ sidebarOpen: false }"
>
  {{! Off-canvas menu for mobile }}
  <div class="md:hidden">
    <div
      class="fixed inset-0 z-30 transition-opacity duration-300 ease-linear bg-gray-600 opacity-0 pointer-events-none"
      :class="{'opacity-75 pointer-events-auto': sidebarOpen, 'opacity-0 pointer-events-none': !sidebarOpen}"
    ></div>
    <div
      class="fixed inset-y-0 left-0 z-40 flex flex-col w-full max-w-xs duration-300 ease-in-out transform -translate-x-full bg-gray-800"
      :class="{'translate-x-0': sidebarOpen, '-translate-x-full': !sidebarOpen}"
    >
      <div class="absolute top-0 right-0 p-1 -mr-14">
        <button
          type="button"
          x-show="sidebarOpen"
          class="flex items-center justify-center w-12 h-12 rounded-full focus:outline-none focus:bg-gray-600"
        >
          <svg
            class="w-6 h-6 text-white"
            stroke="currentColor"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            ></path>
          </svg>
        </button>
      </div>
      <div class="flex-1 h-0 pt-5 pb-4 overflow-y-auto">
        <div class="flex items-center flex-shrink-0 px-4">
          <svg class="w-auto h-8 text-white" viewBox="0 0 249 69">
            <g
              id="logo-and-name_svg__logo-and-name_svg__Logo-5"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
            >
              <g
                id="logo-and-name_svg__logo-and-name_svg__Logo-1"
                transform="translate(-860.000000, -628.000000)"
              >
                <g
                  id="logo-and-name_svg__logo-and-name_svg__Group-2"
                  transform="translate(862.000000, 628.125000)"
                >
                  <path
                    d="M-2.84217094e-14,45.956 L74.724,45.956"
                    id="logo-and-name_svg__logo-and-name_svg__Path"
                    stroke="#05C77E"
                    stroke-width="4"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M15.346,55.956 L59.377,55.956"
                    id="logo-and-name_svg__logo-and-name_svg__Path"
                    stroke="#05C77E"
                    stroke-width="3.9937"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M30.694,65.956 L44.029,65.956"
                    id="logo-and-name_svg__logo-and-name_svg__Path"
                    stroke="#05C77E"
                    stroke-width="4"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <polyline
                    id="logo-and-name_svg__logo-and-name_svg__Path"
                    stroke="#05C77E"
                    stroke-width="4"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    fill-rule="nonzero"
                    points="40.066 30.581 49.661 16.128 66.376 45.956"
                  ></polyline>
                  <path
                    d="M52.661,-1.77635684e-15 C59.8440155,-1.77635684e-15 65.667,5.82298454 65.667,13.006 C65.667,18.6437838 62.0798555,23.4437451 57.0634462,25.2480043 L55.1941169,21.9111027 C59.0746424,20.8093965 61.917,17.2396323 61.917,13.006 C61.917,7.89405236 57.7729476,3.75 52.661,3.75 C47.5490524,3.75 43.405,7.89405236 43.405,13.006 C43.405,15.2129486 44.1773904,17.2394958 45.4665957,18.8300659 L43.3230653,22.0591357 C41.0526191,19.7177165 39.655,16.525074 39.655,13.006 C39.655,5.82298454 45.4779845,-1.77635684e-15 52.661,-1.77635684e-15 Z"
                    id="logo-and-name_svg__logo-and-name_svg__Combined-Shape"
                    fill="#05C77E"
                    fill-rule="nonzero"
                  ></path>
                  <polyline
                    id="logo-and-name_svg__logo-and-name_svg__Path"
                    stroke="#05C77E"
                    stroke-width="4"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    points="8.348 45.956 27.588 11.742 49.918 45.956"
                  ></polyline>
                  <path
                    d="M206.577,26.731 C209.992,26.732 212.645,27.935 214.414,30.171 L214.414,27.346 L219.573,27.346 L219.573,49.235 C219.573,56.63 214.807,61.174 206.946,61.174 C203.433,61.174 199.576,60.216 197.095,58.447 L198.962,54.099 C201.345,55.548 204.072,56.482 206.946,56.482 C211.761,56.482 214.414,53.829 214.414,49.456 L214.414,47.564 C212.645,49.824 209.992,51.003 206.577,51.003 C201.197,51.003 195.67,46.482 195.67,38.867 C195.67,31.252 201.197,26.731 206.577,26.731 Z M178.738,26.732 C182.079,26.732 184.511,28.107 186.133,30.196 L186.133,27.346 L191.268,27.346 L191.268,50.881 L186.133,50.881 L186.133,48.056 C184.512,50.144 182.08,51.495 178.738,51.495 C172.155,51.495 166.971,46.311 166.971,39.113 C166.971,31.915 172.155,26.732 178.738,26.732 Z M235.692,26.733 C242.277,26.732 246.797,31.744 246.821,39.089 C246.821,39.752 246.772,40.416 246.723,41.005 L229.33,41.005 C230.018,45.231 232.99,47 236.331,47 C238.689,47 241.195,46.066 243.136,44.519 L245.691,48.18 C242.816,50.637 239.574,51.496 236.012,51.496 C228.961,51.496 223.974,46.582 223.974,39.114 C223.974,31.744 228.765,26.733 235.692,26.733 Z M103.996,16.487 L113.995,41.054 L123.994,16.487 L132.519,16.487 L132.519,50.881 L126.966,50.881 L126.966,22.58 L116.918,47.515 L111.071,47.515 L101.023,22.85 L101.023,50.881 L95.471,50.881 L95.471,16.487 L103.996,16.487 Z M144.415,27.346 L144.415,50.881 L139.256,50.881 L139.256,27.346 L144.415,27.346 Z M162.424,26.732 C163.996,26.732 165.2,26.928 166.379,27.395 L165.151,32.48 C164.07,31.915 162.498,31.62 161.245,31.62 C157.977,31.62 155.644,33.929 155.644,37.933 L155.644,50.88 L150.509,50.88 L150.509,27.346 L155.594,27.346 L155.594,29.999 C157.142,27.764 159.549,26.732 162.424,26.732 Z M179.353,31.571 C174.931,31.571 172.253,34.986 172.253,39.113 C172.253,43.24 174.931,46.655 179.353,46.655 C183.603,46.655 186.453,43.412 186.453,39.113 C186.453,34.814 183.603,31.571 179.353,31.571 Z M207.903,31.5719998 C203.555,31.571 200.951,34.888 200.951,38.868 C200.951,42.824 203.555,46.164 207.903,46.164 C212.055,46.164 214.856,42.995 214.856,38.868 C214.856,34.741 212.055,31.5719998 207.903,31.5719998 Z M235.594,31.301 C231.934,31.301 229.895,33.66 229.355,37.099 L241.564,37.099 C240.999,33.438 238.862,31.301 235.594,31.301 Z M141.81,15.578 C143.849,15.578 145.446,17.175 145.446,19.214 C145.446,21.253 143.849,22.801 141.81,22.801 C139.771,22.801 138.223,21.253 138.223,19.214 C138.223,17.175 139.771,15.578 141.81,15.578 Z"
                    id="logo-and-name_svg__logo-and-name_svg__Combined-Shape"
                    fill="currentColor"
                    fill-rule="nonzero"
                  ></path>
                </g>
              </g>
            </g>
          </svg>
        </div>
        <nav class="px-2 mt-5 app">
          {{#each this.links as |link|}}
            <a
              href="#"
              class="flex items-center px-2 py-2 mt-1 text-base font-medium leading-6 text-white transition duration-150 ease-in-out bg-gray-900 rounded-md group focus:outline-none focus:bg-gray-700"
            >
              <svg
                class="w-6 h-6 mr-4 text-gray-300 transition duration-150 ease-in-out group-hover:text-gray-300 group-focus:text-gray-300"
                stroke="currentColor"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M3 12l9-9 9 9M5 10v10a1 1 0 001 1h3a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1h3a1 1 0 001-1V10M9 21h6"
                ></path>
              </svg>
              {{link.label}}
            </a>
          {{/each}}
          {{! <a href="#" class="flex items-center px-2 py-2 mt-1 text-base font-medium leading-6 text-gray-300 transition duration-150 ease-in-out rounded-md group hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">
            <svg class="w-6 h-6 mr-4 text-gray-400 transition duration-150 ease-in-out group-hover:text-gray-300 group-focus:text-gray-300" stroke="currentColor" fill="none" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"/>
            </svg>
            Team
          </a> }}
        </nav>
      </div>
    </div>
  </div>
  {{!-- {{! Static sidebar for desktopw }} --}}
  <div class="hidden md:flex md:flex-shrink-0">
    <div class="flex flex-col w-64 bg-gray-800">
      <div class="flex flex-col flex-1 h-0 pt-5 pb-4 overflow-y-auto">
        <div class="flex items-center flex-shrink-0 px-4">
          <LinkTo @route="home" class="text-xl font-semibold text-white">
            Domain Modeling
          </LinkTo>
        </div>
        {{! Sidebar component, swap this element with another sidebar if you like }}
        <nav class="flex-1 px-2 mt-5 bg-gray-800 app">
          {{#each this.links as |link|}}
            <LinkTo
              class="flex items-center px-2 py-2 mt-1 text-sm font-medium leading-5 transition duration-150 ease-in-out rounded-md group focus:outline-none"
              @route="exercise"
              @model={{link.model}}
            >
              <svg
                class="w-6 h-6 mr-3 text-gray-300 transition duration-150 ease-in-out group-hover:text-gray-300 group-focus:text-gray-300"
                stroke="currentColor"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M3 12l9-9 9 9M5 10v10a1 1 0 001 1h3a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1h3a1 1 0 001-1V10M9 21h6"
                ></path>
              </svg>
              {{link.label}}
            </LinkTo>
          {{/each}}
          {{! <a href="#" class="flex items-center px-2 py-2 mt-1 text-sm font-medium leading-5 text-gray-300 transition duration-150 ease-in-out rounded-md group hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">
            <svg class="w-6 h-6 mr-3 text-gray-400 transition duration-150 ease-in-out group-hover:text-gray-300 group-focus:text-gray-300" stroke="currentColor" fill="none" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"/>
            </svg>
            Team
          </a> }}
        </nav>
      </div>
    </div>
  </div>
  <div class="flex flex-col flex-1 w-0 overflow-hidden">
    <div class="pt-1 pl-1 md:hidden sm:pl-3 sm:pt-3">
      <button
        type="button"
        class="-ml-0.5 -mt-0.5 h-12 w-12 inline-flex items-center justify-center rounded-md text-gray-500 hover:text-gray-900 focus:outline-none focus:bg-gray-200 transition ease-in-out duration-150"
      >
        <svg
          class="w-6 h-6"
          stroke="currentColor"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
          ></path>
        </svg>
      </button>
    </div>
    <main
      class="relative z-0 flex flex-1 overflow-y-auto focus:outline-none"
      tabindex="0"
      x-data
      x-init="$el.focus()"
    >
      {{outlet}}
    </main>
  </div>
</div>