<div class="flex flex-col w-1/2">
  <div class="px-4 py-8">
    <h2>
      Mirage (Server)
    </h2>
  </div>
  <div class="flex-1 p-4 bg-gray-100 border-t border-gray-300">
    <p>
      (database)
    </p>
  </div>
</div>
<div class="flex flex-col w-1/2 border-l-4 border-gray-200">
  <div class="border-b border-gray-300 h-1/2">
    <div class="px-4 py-8">
      <h2>
        Client
      </h2>
    </div>
  </div>
  <div class="h-1/2">
    <div class="p-4">
      (JSON Response)
    </div>
  </div>
</div>